{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-center mb-0">Task List</h2>
    <a href="{% url 'todo:task-create' %}" class="btn btn-primary ml-2">Create Task</a>
  </div>

  {% if task_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center">Content</th>
          <th scope="col" class="text-center">Created at</th>
          <th scope="col" class="text-center">Deadline</th>
          <th scope="col" class="text-center">Done at</th>
          <th scope="col" class="text-center">Tags</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in task_list %}
          <tr>
            <td>
              <strong>{{ task.content }}</strong>
            </td>
            <td class="text-center">{{ task.created_at }}</td>
            <td class="text-center">{{ task.deadline }}</td>
            <td class="text-center">
              {% if task.done_at %}
                {{ task.done_at }}
              {% else %}
                <span class="badge badge-warning"> IN PROGRESS </span>
              {% endif %}
            </td>
            <td class="text-center">
              {% for tag in task.tag.all %}
                <span class="badge badge-secondary">{{ tag.name }}</span>
              {% endfor %}
            </td>
            <td class="text-center">
              {% if user.is_authenticated %}
                  <a href="{% url 'todo:task-update' pk=task.id %}" class="btn btn-warning">Update</a>
                  <a href="{% url 'todo:task-delete' pk=task.id %}" class="btn btn-danger">Delete</a>
                  {% if not task.done_at %}
                      <a href="{% url 'todo:mark-as-done' task_id=task.id %}" class="btn btn-success">Mark as Done</a>
                  {% else %}
                      <a href="{% url 'todo:undo-mark-as-done' task_id=task.id %}" class="btn btn-info">Undo</a>
                  {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="text-center">No tasks available.</p>
  {% endif %}

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}
